$spec-preview-backdrop: rgba(0, 0, 0, 0.25);
$increase-font-size-on-larger-screens: false;

@import "vanilla-framework";
@include vanilla;

:root {
  --spec-preview-backdrop: rgba(0, 0, 0, 0.25);
  --spec-preview-header-horizontal-padding: 1rem;
  --spec-preview-header-vertical-padding: 1.25rem;
  --spec-preview-header-border-color: $color-mid-dark;
  --spec-card-background-color: $color-light;
  --spec-card-default-border-color: $color-negative
  --spec-card-draft-border-color: $color-mid-dark;
  --spec-card-pending-border-color: $color-caution;
  --spec-card-active-border-color: $color-positive;
}


.p-content {
  position: relative;
}

@media screen and (min-width: $breakpoint-large) {
  .sticky-sidebar {
    max-height: 100vh;
    padding-top: $spv--large;
    position: sticky;
    top: 0;
  }
}

.infinite-scroll-component {
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  grid-gap: 1rem;
  display: grid;
  grid-row: 2;
  width: 100%;
}

@media (min-width: 1036px) {
  .infinite-scroll-component {
    grid-column: auto / span 2;
  }
}

.l-fluid-breakout {
  .l-fluid-breakout__main {
  }

  .l-fluid-breakout__toolbar {
    margin-block-start: 1rem;
  }

  @media screen and (max-width: $breakpoint-small - 1) {
    .l-fluid-breakout__toolbar {
      padding-bottom: 0;
    }

    .l-fluid-breakout__toolbar-items {
      width: 100%;
    }

    .l-fluid-breakout__toolbar-item {
      display: block;
      grid-column-end: auto;
    }
  }
}

// Match the same width as the fluid-breakout
.row,
.u-fixed-width,
.p-navigation__row {
  max-width: calc(2 * 14rem + $grid-max-width) !important;
}

.p-custom-select__dropdown {
  max-width: 16rem;
}

.multi-select .multi-select__select-button {
  margin-bottom: 1.25rem;
}


#no-results {
  grid-column: 1 / -1;
}

.error-screen {
  height: 100%;
  width: 100%;
}

.get-notifications {
  & .p-switch {
    padding: 0;
    margin: 0;
  }
}
