<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Canonical specifications{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/e6b1c303-COF%20favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ versioned_static('style.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div id="root"></div>
    <script>
      const specs = {{ specs | tojson }};
      const teams = {{ teams | tojson }};
    </script>
    <script
      type="module"
      src="{{ versioned_static('canonical-specs.umd.js') }}"
    ></script>
  </body>
</html>
